#careersform {
  padding: 20px 0;
}
input[type="number"],
input[type="file"] {
  background-color: rgba(0, 0, 0, 0.04);
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 10px;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  line-height: 24px;
  color: #555;
  background-color: #f1f1f1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 4px;
}
