.apply-job{
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0
}
.apply-job h2{
  text-align: center;
  margin-bottom: 20px;
}
.vacancy{
  margin: 30px auto;
}
.vacancy h2{
  text-align: center;
}
#careersform .vc_column-inner{
  padding-bottom: 10px;
}
input[type="number"],
input[type="file"] {
  background-color: rgba(0, 0, 0, 0.04);
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 10px;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  line-height: 24px;
  color: #555;
  background-color: #f1f1f1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 4px;
}
.job-container {
  width: 70%;
  margin: 30px auto;
}
.about {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 15px;
}
.job {
  padding: 1% 0;
}
.job a {
  margin-top: auto;
  align-self: flex-start;
}

.job .vc_column-inner {
  padding: 4%;
  border: 1px solid rgba(112, 112, 112, 0.1);
  border-radius: 25px 0 0 0;
}
.job:hover .vc_column-inner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

